# Feature Selection

The purpose of this notebook is to:
* Select relevant features
* Reduce dimensionality for some sets of features
* Study correlations in preparation for model testing

In [1]:
import numpy as np
import pandas as pd

from os.path import join

In [2]:
parcel = pd.read_pickle(join('../shared_data', 'parcel.pkl'))

In [3]:
parcel.head()

,Major,Minor,PropType,Area,DistrictName,ParcSqFtLot,CurrentZoning,Topography,StreetSurface,InadequateParking,...,light_rail_counts20000,parks_counts100,parks_counts1000,parks_counts20000,priv_school_counts100,priv_school_counts1000,priv_school_counts20000,pub_school_counts100,pub_school_counts1000,pub_school_counts20000
pin,,,,,,,,,,,,,,,,,,,,,
8121100155,812110,155,R,81.0,SEATTLE,2868,SF 5000,1,1,2,...,10,0,0,115,0,0,25,0,0,33
3630150210,363015,210,R,75.0,ISSAQUAH,1560,UV,0,1,2,...,0,0,0,0,0,0,0,0,0,0
2113700355,211370,355,R,77.0,SEATTLE,4240,SF 5000,1,1,0,...,4,0,0,58,0,0,18,0,0,33
4036100060,403610,60,R,64.0,BELLEVUE,9488,R-5,0,1,2,...,0,0,0,1,0,0,0,0,0,0
1257202360,125720,2360,R,43.0,SEATTLE,3060,SF 5000,0,1,2,...,0,0,0,151,0,0,44,0,0,59